$accentColor = lighten(#0B3861, 50%)
$textColor = #2c3e50
$borderColor = rgba(0,0,0,.05)
$codeBgColor = #222
$arrowBgColor = #ccc

$navbarHeight = 5rem

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py docker dockerfile makefile